body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.category-container {
    width: 70%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.category-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.category-item {
    background: #002b62;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
    min-width: 200px;
}

.category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.text-only {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
